In [1]:
# 03301 = Zip code for Concord, NH, USA
#30100,IT = Zip code for Venezia, Italy - Part of Venice, Italy 
import requests, json, pandas as pd

api_key = "8390c20af9c3e9f5dcf4f89d947eba14"
base_url = "http://api.openweathermap.org/data/2.5/forecast?"
zips=["03301", "30100,IT"]

# For loop to split up different zips as I want two separate dataframes. Probably not the best way, but functional.
for zip in zips:
    if zip == "03301":
        complete_url = base_url + "zip=" + zip + "&appid=" + api_key
    else:
        complete_url1 = base_url + "zip=" + zip + "&appid=" + api_key

In [2]:
# creates json payload for the urls made above
payload = requests.get(complete_url).json()
payload1 = requests.get(complete_url1).json()

In [3]:
# Creates dataframes from the payload --- normalize = json --> dataframe
df = pd.json_normalize(payload["list"]).drop("main.temp_kf", axis= 1)
df1 = pd.json_normalize(payload1["list"]).drop("main.temp_kf", axis= 1)

In [4]:
# Sends each dataframe to a csv file for the location
# headers will be column names by default
# Index = false is needed so that the datframe indexes do not become Unnamed: 0
df.to_csv(r"C:\Users\david\Documents\comp574-active\final-project-comp574\concord.csv", index=False)
df1.to_csv(r"C:\Users\david\Documents\comp574-active\final-project-comp574\venezia.csv",index=False)
df1.columns

Index(['dt', 'weather', 'visibility', 'pop', 'dt_txt', 'main.temp',
       'main.feels_like', 'main.temp_min', 'main.temp_max', 'main.pressure',
       'main.sea_level', 'main.grnd_level', 'main.humidity', 'clouds.all',
       'wind.speed', 'wind.deg', 'wind.gust', 'sys.pod', 'rain.3h'],
      dtype='object')

In [5]:
# Read file to make sure everything works
pd.read_csv(r"C:\Users\david\Documents\comp574-active\final-project-comp574\concord.csv")

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod
0,1636092000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-05 06:00:00,274.26,274.26,272.96,274.26,1026,1026,1018,86,90,1.15,339,1.07,n
1,1636102800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-05 09:00:00,273.64,272.11,272.41,273.64,1026,1026,1018,84,75,1.40,332,1.41,n
2,1636113600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0,2021-11-05 12:00:00,273.33,271.57,272.86,273.33,1027,1027,1019,82,48,1.52,325,1.75,d
3,1636124400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-05 15:00:00,280.08,278.24,280.08,280.08,1027,1027,1019,45,2,2.63,331,4.14,d
4,1636135200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-05 18:00:00,282.08,280.12,282.08,282.08,1026,1026,1017,33,1,3.44,321,4.85,d
5,1636146000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-05 21:00:00,278.53,277.69,278.53,278.53,1027,1027,1018,54,2,1.38,324,1.38,d
6,1636156800,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 00:00:00,273.99,273.99,273.99,273.99,1029,1029,1020,66,2,1.04,301,0.99,n
7,1636167600,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 03:00:00,273.08,273.08,273.08,273.08,1029,1029,1021,71,0,1.12,282,1.06,n
8,1636178400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 06:00:00,272.78,272.78,272.78,272.78,1030,1030,1021,74,1,1.21,288,1.11,n
9,1636189200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 09:00:00,272.47,272.47,272.47,272.47,1030,1030,1021,77,3,1.02,297,0.99,n
10,1636200000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 12:00:00,273.00,273.00,273.00,273.00,1031,1031,1022,76,8,0.92,277,0.89,d
11,1636210800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-06 15:00:00,280.94,280.08,280.94,280.94,1030,1030,1021,47,56,1.68,275,3.11,d
12,1636221600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0,2021-11-06 18:00:00,284.36,282.48,284.36,284.36,1027,1027,1019,36,49,1.83,234,2.98,d
13,1636232400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-06 21:00:00,280.41,279.62,280.41,280.41,1026,1026,1018,59,4,1.55,228,1.53,d
14,1636243200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-07 00:00:00,275.67,275.67,275.67,275.67,1027,1027,1018,74,2,1.07,224,1.15,n
15,1636254000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-07 03:00:00,273.91,273.91,273.91,273.91,1026,1026,1018,83,1,0.78,238,0.87,n
16,1636264800,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-07 06:00:00,273.12,273.12,273.12,273.12,1026,1026,1017,87,6,0.69,282,0.70,n
17,1636275600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-07 09:00:00,272.80,272.80,272.80,272.80,1025,1025,1016,86,64,0.63,263,0.65,n
18,1636286400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-07 12:00:00,273.55,273.55,273.55,273.55,1025,1025,1016,79,78,0.67,304,0.66,d
19,1636297200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-07 15:00:00,281.27,281.27,281.27,281.27,1024,1024,1016,49,100,0.97,232,1.50,d
20,1636308000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-07 18:00:00,284.73,283.04,284.73,284.73,1021,1021,1013,42,91,1.73,192,2.44,d
21,1636318800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-07 21:00:00,280.49,280.49,280.49,280.49,1021,1021,1012,64,96,0.95,155,1.04,d
22,1636329600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-08 00:00:00,276.79,276.79,276.79,276.79,1021,1021,1012,75,98,0.63,309,0.59,n
23,1636340400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-08 03:00:00,275.43,275.43,275.43,275.43,1021,1021,1012,82,100,0.72,332,0.70,n
24,1636351200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-08 06:00:00,275.46,273.69,275.46,275.46,1020,1020,1011,81,100,1.75,334,1.70,n
25,1636362000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0,2021-11-08 09:00:00,274.80,273.22,274.80,274.80,1020,1020,1012,81,100,1.54,348,1.55,n
26,1636372800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-08 12:00:00,274.56,272.68,274.56,274.56,1021,1021,1013,79,74,1.73,337,2.01,d
27,1636383600,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-08 15:00:00,283.32,281.72,283.32,283.32,1021,1021,1013,51,2,1.84,341,3.02,d
28,1636394400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-08 18:00:00,286.76,285.48,286.76,286.76,1019,1019,1011,50,1,1.85,358,3.17,d
29,1636405200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-08 21:00:00,283.27,282.27,283.27,283.27,1019,1019,1011,74,0,0.96,6,1.09,d
30,1636416000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 00:00:00,279.31,278.42,279.31,279.31,1022,1022,1013,90,0,1.50,327,1.41,n
31,1636426800,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 03:00:00,278.06,278.06,278.06,278.06,1023,1023,1014,93,0,1.29,330,1.30,n
32,1636437600,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 06:00:00,277.36,277.36,277.36,277.36,1023,1023,1014,94,0,1.31,325,1.25,n
33,1636448400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 09:00:00,276.84,276.84,276.84,276.84,1023,1023,1014,94,0,0.97,334,0.94,n
34,1636459200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 12:00:00,276.84,276.84,276.84,276.84,1023,1023,1015,94,3,0.63,306,0.58,d
35,1636470000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 15:00:00,284.58,283.48,284.58,284.58,1022,1022,1014,65,7,1.50,201,2.66,d
36,1636480800,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 18:00:00,288.57,287.53,288.57,288.57,1019,1019,1011,52,5,2.39,190,3.91,d
37,1636491600,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0,2021-11-09 21:00:00,285.07,284.28,285.07,285.07,1019,1019,1010,75,0,1.80,167,1.97,d
38,1636502400,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0,2021-11-10 00:00:00,281.31,281.31,281.31,281.31,1019,1019,1011,89,34,1.33,211,1.46,n
39,1636513200,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0,2021-11-10 03:00:00,280.26,280.26,280.26,280.26,1019,1019,1010,92,64,1.28,236,1.25,n

In [6]:
# Read file to make sure that everything works
pd.read_csv(r"C:\Users\david\Documents\comp574-active\final-project-comp574\venezia.csv")

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,rain.3h
0,1636092000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2021-11-05 06:00:00,279.84,277.77,279.84,283.18,1015,1015,1015,94,0,2.88,6,3.11,d,NaN
1,1636102800,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-05 09:00:00,281.61,279.39,281.61,285.15,1016,1016,1018,83,33,3.74,11,4.56,d,NaN
2,1636113600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-05 12:00:00,284.98,283.94,284.98,287.55,1018,1018,1018,66,67,2.68,19,3.42,d,NaN
3,1636124400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-05 15:00:00,287.60,286.62,287.60,287.60,1019,1019,1019,58,100,2.37,29,3.46,d,NaN
4,1636135200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-05 18:00:00,286.02,285.14,286.02,286.02,1021,1021,1020,68,100,4.68,59,6.34,n,NaN
5,1636146000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-05 21:00:00,284.90,283.93,284.90,284.90,1023,1023,1022,69,100,6.46,52,10.60,n,NaN
6,1636156800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 00:00:00,283.57,282.57,283.57,283.57,1024,1024,1023,73,95,7.12,41,11.78,n,NaN
7,1636167600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 03:00:00,282.66,279.54,282.66,282.66,1024,1024,1024,68,57,6.73,43,11.05,n,NaN
8,1636178400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.02,2021-11-06 06:00:00,282.42,279.15,282.42,282.42,1025,1025,1024,62,79,6.99,37,12.94,d,NaN
9,1636189200,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 09:00:00,284.61,283.30,284.61,284.61,1026,1026,1026,57,100,7.68,49,12.77,d,NaN
10,1636200000,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 12:00:00,287.25,286.07,287.25,287.25,1025,1025,1024,52,82,7.95,61,10.06,d,NaN
11,1636210800,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 15:00:00,286.81,285.69,286.81,286.81,1023,1023,1023,56,40,5.58,52,7.86,d,NaN
12,1636221600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 18:00:00,285.05,283.89,285.05,285.05,1024,1024,1023,61,63,4.96,44,7.08,n,NaN
13,1636232400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-06 21:00:00,284.83,283.72,284.83,284.83,1023,1023,1022,64,100,5.54,51,8.20,n,NaN
14,1636243200,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.38,2021-11-07 00:00:00,283.97,282.88,283.97,283.97,1023,1023,1022,68,100,3.10,48,4.22,n,0.20
15,1636254000,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.66,2021-11-07 03:00:00,283.05,281.92,283.05,283.05,1022,1022,1021,75,100,2.41,33,4.10,n,1.24
16,1636264800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.62,2021-11-07 06:00:00,283.28,282.28,283.28,283.28,1021,1021,1020,74,100,2.49,5,3.29,d,0.52
17,1636275600,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-07 09:00:00,284.27,283.11,284.27,284.27,1021,1021,1020,64,99,2.09,355,2.54,d,NaN
18,1636286400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-07 12:00:00,286.51,285.31,286.51,286.51,1019,1019,1018,54,90,2.43,316,2.46,d,NaN
19,1636297200,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-07 15:00:00,286.80,285.68,286.80,286.80,1017,1017,1017,56,84,1.00,319,1.16,d,NaN
20,1636308000,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-07 18:00:00,286.30,285.21,286.30,286.30,1017,1017,1017,59,92,1.86,304,1.97,n,NaN
21,1636318800,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-07 21:00:00,285.98,284.94,285.98,285.98,1017,1017,1016,62,100,2.30,285,2.47,n,NaN
22,1636329600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-08 00:00:00,285.42,284.32,285.42,285.42,1016,1016,1015,62,80,0.23,266,0.36,n,NaN
23,1636340400,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-08 03:00:00,284.57,283.52,284.57,284.57,1015,1015,1015,67,70,2.02,305,2.00,n,NaN
24,1636351200,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-08 06:00:00,284.34,283.26,284.34,284.34,1015,1015,1015,67,79,0.52,318,0.88,d,NaN
25,1636362000,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-08 09:00:00,286.32,285.36,286.32,286.32,1016,1016,1016,64,75,0.96,9,1.05,d,NaN
26,1636372800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.00,2021-11-08 12:00:00,288.28,287.62,288.28,288.28,1016,1016,1015,68,84,3.85,29,4.43,d,NaN
27,1636383600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.08,2021-11-08 15:00:00,286.60,285.85,286.60,286.60,1016,1016,1016,71,82,6.71,53,9.36,d,NaN
28,1636394400,"[{'id': 804, 'main': 'Clouds', 'description': ...",10000,0.16,2021-11-08 18:00:00,285.63,284.76,285.63,285.63,1018,1018,1018,70,91,6.83,63,10.06,n,NaN
29,1636405200,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.17,2021-11-08 21:00:00,284.78,283.85,284.78,284.78,1019,1019,1018,71,73,6.55,55,11.13,n,NaN
30,1636416000,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.14,2021-11-09 00:00:00,284.50,283.52,284.50,284.50,1020,1020,1019,70,56,7.60,55,12.90,n,NaN
31,1636426800,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.05,2021-11-09 03:00:00,283.37,282.41,283.37,283.37,1020,1020,1020,75,38,6.02,47,10.64,n,NaN
32,1636437600,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.04,2021-11-09 06:00:00,282.95,279.82,282.95,282.95,1022,1022,1022,71,57,7.04,44,11.42,n,NaN
33,1636448400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.02,2021-11-09 09:00:00,285.02,283.96,285.02,285.02,1024,1024,1023,65,4,8.26,53,12.69,d,NaN
34,1636459200,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.01,2021-11-09 12:00:00,287.20,286.04,287.20,287.20,1024,1024,1023,53,2,8.35,51,11.00,d,NaN
35,1636470000,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2021-11-09 15:00:00,286.62,285.51,286.62,286.62,1024,1024,1023,57,2,6.83,57,9.17,d,NaN
36,1636480800,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2021-11-09 18:00:00,284.60,283.47,284.60,284.60,1025,1025,1025,64,2,6.94,67,9.59,n,NaN
37,1636491600,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2021-11-09 21:00:00,283.14,280.37,283.14,283.14,1026,1026,1025,69,0,6.02,55,9.35,n,NaN
38,1636502400,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,0.00,2021-11-10 00:00:00,281.98,279.42,281.98,281.98,1025,1025,1025,69,2,4.64,46,6.80,n,NaN
39,1636513200,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.04,2021-11-10 03:00:00,281.99,279.66,281.99,281.99,1025,1025,1025,69,48,4.15,23,5.36,n,NaN